* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 5rem;
  /* --scroll: 0px; */
  --border-width: 3px;
  --negative-half-border-width: -1.5px;
  --new-font-family: "Poppins", sans-serif;
  --new-font-weight: 800;
  --new-font-size: 170px;
  --new-letter-spacing: 0px;
  --new-line-height: normal;
  --new-font-style: normal;
  --primary-color: #2b0091;
  --secondary-color: #0051ff;
  --dim-color: #73008b;
}
html {
  font-family: "Poppins", sans-serif;
  /* font-family: "Inconsolata", monospace; */
  font-size: 62.5%;
  background-color: #fff;
  overflow-x: hidden;
  scrollbar-width: none;
  list-style: none;
}
html::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

body {
  width: 100vw;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(48, 11, 121, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );

  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  overflow: hidden;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
  color: white;
  text-align: center;
  margin: 20px 0;
}

.fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.full-height {
  height: calc(100vh - var(--header-height));
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .center {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .full-height {
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .fluid {
    padding: 0 10px;
    max-width: 100%;
    width: 100%;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
}

.body-wrapper {
  backdrop-filter: blur(20px) brightness(1);
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: 100%;
}

/* nav bar styling */
nav .nav-container {
  position: fixed;
  top: 20px;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  z-index: 1003;
  background-color: black;
  border-radius: 25px;
  height: 70px;
  transition: all 0.5s ease;
  /* From https://css.glass */
  background: rgba(48, 11, 121, 0.5);
  box-shadow: 0 4px 40px 10px rgb(49, 3, 95, 0.5);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}

nav .nav-toggler {
  display: none;
}

nav .nav-container .logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  transition: all 0.5s ease;
}

nav .nav-container .logo:hover {
  border-color: white;
  transition: all 0.5s ease;
}

nav .nav-container .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav .nav-container .logo h4 {
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
}

nav .nav-scroll {
  top: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: rgba(48, 11, 121, 0.2);
  width: 100%;
  left: 0;
  border-radius: 0;
  transition: all 0.5s ease;
  backdrop-filter: blur(7.9px) brightness(0.5);
  -webkit-backdrop-filter: blur(7.9px);
}

@media only screen and (max-width: 600px) {
  nav .nav-container {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    flex-wrap: wrap;
    padding: 0;
    height: auto;
    background-color: #000000dd;
  }

  nav .nav-container .logo {
    margin: 10px;
  }

  nav .nav-toggler {
    display: block;
    background-color: transparent;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  nav .nav-toggler svg {
    opacity: 0.3;
    transition: all 0.5s ease;
    width: 40px;
  }

  nav .nav-toggler:hover svg {
    opacity: 0.9;
    transition: all 0.5s ease;
  }

  nav .nav-toggler .svg-clicked {
    opacity: 0.8;
    box-shadow: 0 0 10px #444;
  }

  nav .nav-toggler .svg-clicked:hover {
    opacity: 1;
    /* box-shadow: 0 0 20px 10px #666; */
  }

  nav .nav-container .nav-links {
    display: none;
    transition: all 0.5s ease;
  }

  nav .nav-container .nav-links-active {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    height: auto;
    transition: all 0.5s ease;
  }

  nav .nav-container .nav-links li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  nav .nav-scroll {
    background-color: rgb(0, 0, 0);
  }
}

nav ul.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul.nav-links li {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
}

nav ul.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

nav ul.nav-links li a:hover {
  color: var(--secondary-color);
}

nav ul.nav-links .active {
  color: var(--secondary-color);
  font-weight: 500;
  transition: all 0.5s ease;
}

nav .nav-container .contact-btn {
  border: 2px solid var(--secondary-color);
  padding: 10px 20px;
  border-radius: 25px;
}

nav .nav-container .contact-btn:hover {
  background-color: var(--secondary-color);
  color: white;
  transition: all 0.5s ease;
}

/* end of navbar styling */

/* // home page styling */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 12rem;
}

#home .home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #home {
    padding: 6rem 0rem;
  }

  #home .home-container {
    flex-direction: column;
    width: 100%;
  }
}

#home .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 7rem;
}

@media only screen and (max-width: 600px) {
  #home .left {
    width: 90%;
  }
}

#home .left h1 {
  font-size: 8rem;
  color: #c31432;
  font-weight: 800;
  margin-bottom: 4rem;
  text-align: left;
}

#home .left h1 span {
  color: white;
}

#home .left h2 {
  font-size: 5rem;
  font-weight: bold;
  color: #c31432;
  margin-bottom: 0rem;
}

#home .left p {
  font-size: 2rem;
  color: #ffffffaa;
  text-align: left;
  margin-bottom: 2rem;
  line-height: 1.7;
  font-weight: 500;
}

#home .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #home .right {
    align-items: center;
  }
}

#home .right .image-box {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  #home .right {
    padding-top: 10rem;
  }

  #home .left {
    align-items: center;
    justify-content: center;
  }

  #home .left h1 {
    font-size: 6rem;
    text-align: center;
  }

  #home .left p {
    text-align: center;
    font-size: 2rem;
  }

  #home .right .image-box {
    width: 250px;
    height: 250px;
  }

  #home .right .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* npm section styling  */
#npm .npm-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0 6rem;
  padding-top: 10px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #npm .npm-container {
    flex-direction: column;
    width: 100%;
  }
}

#npm .npm-title {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

#npm .npm-title h1 {
  font-size: 6rem;
  color: white;
  margin-right: 10px;
  font-weight: 700;
}

#npm .npm-title h1 a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
  #npm .npm-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotate(0deg);
    padding: 0;
    margin-bottom: 2rem;
  }

  #npm .npm-title h1 {
    font-size: 4rem;
    transform: rotate(0deg);
  }
}

#npm .npm-container .npm-title .npm-img {
  display: grid;
  grid-template-areas: "stack";
  margin: 2rem auto;
  max-width: 100%;
}

#npm .npm-container .npm-title .npm-img img {
  grid-area: stack;
  object-fit: cover;
  box-shadow: 0 0 0.5rem rgba(0 0 0 / 0.2);
  border: solid 0.5rem #fff;
  border-bottom: solid 2rem #fff;
  border-radius: 0.5rem;
  transition: transform 200ms;
  transition: all 0.3s ease;
}

#npm .npm-container .npm-title .npm-img > img:nth-child(1) {
  transform: rotate(5deg) translateX(5rem) translateY(10rem);
}

@media only screen and (max-width: 600px) {
  #npm .npm-container .npm-title .npm-img {
    width: 100%;
    margin: 1rem;
  }

  #npm .npm-container .npm-title .npm-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / 0.2);
    border: solid 0.5rem #fff;
    border-bottom: solid 2rem #fff;
    border-radius: 0.5rem;
    transition: transform 200ms;
    transition: all 0.3s ease;
  }

  #npm .npm-container .npm-title .npm-img > img:nth-child(1) {
    transform: rotate(5deg) translateX(0rem) translateY(5rem);
  }
}

#npm .npm-container .npm-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #npm .npm-container .npm-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }
}

#npm .npm-container .npm-content h2 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 2rem;
  /* font-style: italic; */
}

@media only screen and (max-width: 600px) {
  #npm .npm-container .npm-content h2 {
    font-size: 3rem;
    text-align: center;
  }
}

#npm .npm-container .npm-content h2 a {
  text-decoration: none;
  color: white;
}

#npm .npm-container .npm-content h2 span {
  transition: all 0.3s ease;
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 7px;
  text-decoration-color: red;
}

#npm .npm-container .npm-content h2 span:hover {
  color: red;
  transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#npm .npm-container .npm-content p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #ffffffaa;
  text-align: left;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  #npm .npm-container .npm-content p {
    text-align: center;
  }
}

#npm .npm-container .npm-content ul {
  list-style: none;
  padding: 0;
}

#npm .npm-container .npm-content ul li {
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

#npm .npm-container .npm-content ul li svg {
  margin-right: 1rem;
}

#npm .npm-container .npm-content ul li a {
  text-decoration: none;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin: 0 1rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#npm .npm-container .npm-content ul li a:hover {
  background-color: #c31432;
}

/* end of npm section styling */

/* skills section styling */
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  padding-top: 10px;
}

#skills h1 {
  font-size: 8rem;
  color: white;
  font-weight: 500;
  margin-bottom: 4rem;
}

#skills .skills-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 0 8rem;
}

@media only screen and (max-width: 600px) {
  #skills .skills-title {
    flex-direction: column;
    padding: 0 2rem;
  }
}

#skills .skills-title .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #skills .skills-title .left {
    width: 70%;
  }
}

#skills .skills-title .left h1 {
  font-size: 7rem;
  color: white;
  margin-right: 10px;
  font-weight: 500;
  margin-bottom: 4rem;
}

#skills .skills-title .left p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #ffffffaa;
  text-align: center;
  margin-bottom: 2rem;
}

#skills .skill-title .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #skills h1 {
    font-size: 6rem;
  }
}

#skills .skill-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  margin-top: 5rem;
  padding: 2rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  background: linear-gradient(
    90deg,
    rgba(24, 22, 22, 0.7) 0%,
    rgba(14, 6, 32, 0.7) 100%
  );
  border-radius: 20px;
}

#skills .skill-grid span svg {
  transition: all 0.3s ease;
}

#skills .skill-grid span svg:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  #skills .skill-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    gap: 10px;
    width: 90%;
    overflow: hidden;
  }

  #skills {
    padding: 0;
  }

  #skills .skill-card span svg {
    width: 50;
    height: 50;
  }
}

/* education section styling */
/* services section styling */
#education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  padding-top: 10px;
}

#education h1 {
  font-size: 8rem;
  color: white;
  font-weight: 500;
  margin-bottom: 4rem;
}

#education .education-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 8rem;
}

@media only screen and (max-width: 600px) {
  #education .education-title {
    flex-direction: column;
    padding: 0 2rem;
  }
}

#education .education-title .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #education .education-title .left {
    width: 70%;
  }
}

#education .education-title .left h1 {
  font-size: 7rem;
  color: white;
  margin-right: 10px;
  font-weight: 500;
  margin-bottom: 4rem;
}

#education .education-title .left p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #ffffffaa;
  text-align: center;
  margin-bottom: 2rem;
}

#education .education-title .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#education .education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 65%;
}

@media only screen and (max-width: 600px) {
  #education .education-container {
    width: 100%;
  }
}

#education .education-card {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
  padding: 2rem;
  border-radius: 15px;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

@media only screen and (max-width: 600px) {
  #education .education-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#education .education-card:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}

#education .education-card .logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2rem;
}

#education .education-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  #education .education-card .content {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }

  #education .education-card .content h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  #education .education-card .content p {
    font-size: 1.5rem;
    text-align: center;
  }
}

#education .education-card .content h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#education .education-card .content p {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: #ffffff99;
  font-weight: normal;
  line-height: 1.4;
}

#education .education-card .content span {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}

/* services section styling */
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  padding-top: 10px;
}

#services h1 {
  font-size: 8rem;
  color: white;
  font-weight: 500;
  margin-bottom: 4rem;
}

#services .services-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0 8rem;
}

@media only screen and (max-width: 600px) {
  #services .services-title {
    flex-direction: column-reverse;
    padding: 0 2rem;
  }
}

#services .services-title .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #services .services-title .left {
    width: 70%;
  }
}

#services .services-title .left h1 {
  font-size: 7rem;
  color: white;
  margin-right: 10px;
  font-weight: 500;
  margin-bottom: 4rem;
}

#services .services-title .left p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #ffffffaa;
  text-align: center;
  margin-bottom: 2rem;
}

#services .services-title .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #services h1 {
    font-size: 6rem;
  }
}

#services .service-grid {
  gap: 10px;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media only screen and (max-width: 600px) {
  #services .service-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    width: 95%;
    margin-left: 0;
    margin-right: 0;
  }
}

#services .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 0 2rem;
  border-radius: 15px;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.4);
}

#services .service-card .logo {
  align-self: flex-start;
  margin-bottom: 2rem;
}

#services .service-card h2 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: white;
  text-align: left;
  align-self: flex-start;
}

#services .service-card p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #ffffffaa;
  font-weight: normal;
  line-height: 1.4;
}

#serivices .service-card .tech-stack-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 2rem;
  padding: 0 2rem;
}

#services .service-card .tech-stack-bar span {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  margin: 1rem 1rem;
}

/* project page styling */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-top: 10px;
}

#projects .project-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 0 8rem;
}

@media only screen and (max-width: 600px) {
  #projects .project-title {
    flex-direction: column-reverse;
    padding: 0 2rem;
  }
}

#projects .project-title .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #projects .project-title .left {
    width: 70%;
  }
}

#projects .project-title .left h1 {
  font-size: 7rem;
  color: white;
  margin-right: 10px;
  font-weight: 500;
  margin-bottom: 4rem;
}

#projects .project-title .left p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #ffffffaa;
  text-align: center;
  margin-bottom: 2rem;
}

#projects .project-title .left button {
  padding: 15px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 25px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

#projects .project-title .left button:hover {
  background-color: #c31432;
  transition: all 0.3s ease;
}

#projects .project-title .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .project-grid {
  padding: 2rem 5rem;
}

@media only screen and (max-width: 600px) {
  #projects .project-grid {
    padding: 2rem 2rem;
  }
}

#projects .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 2rem;
  border-radius: 15px;
}

#projects .project-card:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

#projects .project-card .project-img {
  /* width: 300px; */
  height: 250px;
  border-radius: 15px;
  position: relative;
}

#projects .project-card .project-img .image-box {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  border-radius: 15px;
}

#projects .project-card .project-img .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

#projects .project-card .project-img span {
  position: absolute;
  bottom: -5%;
  right: 5%;
}

#projects .project-card .project-img span button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#projects .project-card .project-img span button:hover {
  background-color: #c31432;
  transition: all 0.3s ease;
}
#projects .project-card .bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

#projects .project-card .bar h3 a {
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

#projects .project-card .bar h3 a:hover {
  color: #c31432;
  transition: all 0.3s ease;
}

#projects .project-card .project-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2rem;
  padding: 0 2rem;
}

#projects .project-card .project-content span {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#projects .project-card .project-content span::before {
  width: 40px;
  background-color: white;
  height: 1px;
  content: "";
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 5px;
}

#projects .project-card .project-content h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

#projects .project-card .project-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #ffffff99;
  font-weight: normal;
  line-height: 1.4;
}

#projects .project-card .project-content .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#projects .project-card .project-content .links a {
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease;
}

#projects .project-card .project-content .links a svg {
  margin-right: 10px;
}

#projects .project-card .project-content .links a:hover {
  color: #c31432;
  transition: all 0.3s ease;
}

#projects .project-card .project-content .links a svg path {
  transition: all 0.3s ease;
}

#projects .project-card .project-content .links a:hover svg path {
  fill: #c31432;
  transition: all 0.3s ease;
}

/* contact section styling */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
}

#contact p {
  /* color: #c31432; */
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#contact h3 {
  font-size: 4rem;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

#contact .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10rem;
  padding: 0;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  #contact .contact-container {
    flex-direction: column;
    width: 100%;
  }
}

#contact .left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  #contact .left {
    align-items: center;
  }
}

#contact .left h3 {
  font-size: 1.8rem;
  /* color: #c31432; */
  color: var(--secondary-color);
  margin-bottom: 20px;
}

#contact .left a {
  text-decoration: none;
  color: #666;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 10rem;
  transition: all 0.3s ease;
}

#contact .left a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

#contact .left .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contact .left .fab svg {
  width: 35px;
  height: 35px;
  fill: #666;
  transition: all 0.3s ease;
}

#contact .left .fab:hover svg {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

#contact .left .fab:hover svg g {
  fill: #aaa;
}

#contact .left .fab:hover {
  transform: scale(1.2);
  color: #999;
}

#contact .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
}

#contact .right p {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 30px;
}

#contact label {
  font-size: 1.6rem;
  color: white;
}

#contact input,
#contact textarea {
  padding: 15px 20px;
  font-size: 1.4rem;
  border: 1px solid #cccccc55;
  border-radius: 5px;
  width: 500px;
  background: transparent;
  transition: border-color 0.3s ease;
  margin-bottom: 20px;
  color: white;
  /* font-weight: bold; */
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px) {
  #contact input,
  #contact textarea {
    width: 100%;
  }
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: #cccccc;
}

#contact input:hover,
#contact textarea:hover {
  border-color: #ccccccaa;
}

#contact button {
  padding: 10px;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  /* background-color: #c31432; */
  /* border: 2px solid #c31432; */
  border: 2px solid var(--secondary-color);
  background-color: #00000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact button:hover {
  /* background-color: #c31432; */
  background-color: var(--secondary-color);
}
#contact button:focus {
  outline: none;
}

#contact button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#contact button:disabled:hover {
  background-color: #ccc;
}

#contact span.success-msg {
  background-color: #000000aa;
  color: white;
  font-size: 1.5rem;
  font-size: 1.2rem;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: auto;
  text-align: center;
  margin: auto;
  padding-top: 300px;
}

#contact .left .cv_button {
  width: 92%;
  color: white;
  margin-top: 2rem;
  background-color: blue;
  transition: all 0.3s ease;
  border: none;
}

#contact .left .cv_button:hover {
  background-color: rgb(22, 22, 126);
  transition: all 0.3s ease;
}

#contact .left .cv_button a {
  color: white;
}

#contact .footer p {
  color: #ffffffaa;
  font-weight: normal;
  text-transform: none;
  font-size: 1.6rem;
}
