:root {
  --color-primary: #2f0c96;
  --color-secondary: #5b8fb9;
  --color-accent: #f2c14e;
  --color-heading: #301e67;
  --color-body: #5b8fb9;
}

/* General styling */
html {
  font-size: 62.5%;
}

body {
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
  background: linear-gradient(90deg, rgb(3, 1, 28) 0%, rgb(0, 0, 0) 100%);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

ul {
  list-style: none;
}

/* Links */
/* *********************/
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* icons styling */
.icon {
  width: 40px;
  height: 40px;
}

.icon__primary {
  fill: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* collapsible styling */
/* *********************/
.collapsible {
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible_chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.collapsible--expanded .collapsible_chevron {
  transform: rotate(0deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  overflow: visible;
  opacity: 1;
}

/* nav bar styling */
/* *********************/
.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem;
  align-items: center;
}

.nav__logo {
  color: white;
  font-weight: 700;
  margin: 1rem 0;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 1rem 0;
  border-bottom: 1px solid #222222;
  text-transform: uppercase;
}

.nav__item > a {
  color: #eeeeee;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #ffffff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.3s, opacity 0.3s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 10rem;
  }

  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* Hover underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 75%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* hero section styling */
/* .frame {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, rgb(4.68, 1.84, 37.39) 0%, rgb(0, 0, 0) 100%);
  width: 1728px;
  height: 1117px;
  position: relative;
} */

.frame .ellipse {
  position: absolute;
  width: 386px;
  height: 386px;
  top: 109px;
  left: 96px;
  object-fit: cover;
}

.frame .i-m-shavin-anjitha {
  position: absolute;
  top: 215px;
  left: 590px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 90px;
  letter-spacing: 0.9px;
  line-height: normal;
}

.frame .text-wrapper {
  color: #ffffff;
}

.frame .span {
  color: #33bede;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 118px;
  left: 590px;
  background: linear-gradient(
    180deg,
    rgb(25.35, 218.87, 218.87) 0%,
    rgb(100.6, 136.57, 229.08) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 80px;
  letter-spacing: 0.8px;
  line-height: normal;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 324px;
  left: 590px;
  background: linear-gradient(
    180deg,
    rgb(232.89, 224.41, 20.96) 25.52%,
    rgb(60.97, 245.64, 30.91) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 80px;
  letter-spacing: 4px;
  line-height: normal;
}

.frame .overlap-group {
  position: absolute;
  width: 1017px;
  height: 151px;
  top: 483px;
  left: 590px;
}

.frame .p {
  position: absolute;
  width: 1017px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #c7bebe;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: normal;
}

.frame .component {
  position: absolute;
  width: 225px;
  height: 60px;
  top: 91px;
  left: 0;
  background-color: #33bede;
  border-radius: 30px;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 14px;
  left: 64px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: normal;
}
